body {
    font-family: Arial, sans-serif, Helvetica;
    font-size: 1.125rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: .1rem;
    word-spacing: .6rem;
    color: navy;
    background-color: #ffe;
}

h1 {
    font-size: 2.45rem;
    font-weight: bold;
    text-decoration: overline;
    color: #ffc;
    background-color: #009;    
    margin: 1.3em 4em .75em 4em;
    padding: .53em .5em .35em .5em;
}

h2 {
    font-size: 1.95rem;
    background-color: #ffc;
    margin: 0em 5.85em 1.75em 5.85em;
    padding: .25em;
}

h3 {
    font-size: 1.6rem;
    font-weight: normal; 
    margin-left: 8.75em;
    margin-right: 8.75em;
    padding-top: .12em;
    padding-bottom: .12em;
    border: 3px dashed red;
    border-left: none;
    border-right: none;
}

h4 {
    font-weight: bold;
    font-style: italic;
}

img {
    border: 2px dashed red;
}

a {
    text-decoration: none;
    color: teal;
}

table {
    border: 2px solid #ccc;
    background-color: #ffc;
}

tr {
    border: 1px solid #ccc;
}

td {
    border: 1px solid #ccc;
}




